<div class="large-12 small-12 columns" style="padding-top:5px; padding-bottom:5px;" data-closable>
		Тип: {{obj_type.Name}}
		<br>
		Имя: {{obj.Name}}
		<br>
		<h6 class="subheader">
			<span class="alert badge">x</span>
			<small>{{obj.xCoord|floatformat:2}}</small>
			<span class="success badge">y</span>
			<small>{{obj.yCoord|floatformat:2}}</small>
			<span class="badge">z</span>
			<small>{{obj.zCoord|floatformat:2}}</small>
		</h6>
		<a id="objectgorizontal">Откорректировать по горизонтали</a>
		<hr>
		<a data-landscape="{{landscape_id}}" data-id="{{obj.server_id}}" id="objinfocalibration">Данные калибровки</a>
		<br>
		<a data-landscape="{{landscape_id}}" data-id="{{obj.server_id}}" id="objdeletecaldata">Очистить данные калибровки</a>
		<br>
		<hr>
		<a id="getobjfitcalfunc">Вычислить калибровочную функцию для роутера</a>
		<div id="powerofpolynom" class="reveal" data-reveal data-close-on-click="true" data-animation-in="slide-in-left" data-animation-out="slide-out-right" data-overlay="false">
			<label for="choosepower">Степень полинома
				<input id="choosepower" data-id="{{keyname}}" type="number" step="0.1" value="3">
			</label>
			<br>
			<button class="button success" data-landscape="{{landscape_id}}" data-id="{{obj.server_id}}" id="objfitcalfunc">Отправить</button>
			<button class="close-button" data-close aria-label="Close" type="button">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<button class="button" id="objinfoparams" data-id="{{obj.id}}">Параметры</button>
		<div id="shortparams" class="reveal" data-reveal data-close-on-click="true" data-animation-in="slide-in-left" data-animation-out="slide-out-right" data-overlay="false">
			
		</div>
		<button class="close-button" data-close aria-label="Close" type="button">
			<span aria-hidden="true">&times;</span>
		</button>
</div>
<script>
	$('#objectwindow').foundation();
</script>