<!DOCTYPE HTML>

<html>
	<title>Our WebGl</title>
	{% load staticfiles %}
	<script type="text/javascript" src="{% static 'js/vendor/jquery.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/three.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/dat.gui.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/OrbitControls.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/stats.min.js' %}"></script>

	<script type="text/javascript" src="{% static 'js/helvetiker_regular.typeface.js' %}"></script>

	<style>
  	body{
		margin:0;
		overflow:hidden;
	}
	</style>
	
	<body>
  		<div id="webGL-container">
  		</div>
	</body>
	<script type="text/javascript" src="{% static 'js/webgl/main.js' %}"></script>
</html>