{% load poll_extras %}
{% if success %}
	<span class="label success">{{success}}</span>
{% endif %}
{% if error %}
	<span class="label alert">{{error}}</span>
{% endif %}
<h3>Есть WS и SP</h3>
{% for i in ws %}
	{% for j in sp %}
		{% if i.id == j.id %}
			<table>
				<thead>
					<tr>
						<th>type</th>
						<th>id</th>
						<th>name</th>
						<th>description</th>
						<th>tagId</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>WS</td>
						<td>{{i.id}}</td>
						<td {% if i.name != j.name %}style="background:#fb9f9f;"{% endif %}>{{i.name}}{% if i.name != j.name %}<br><button class="button secondary" id="makecorrection" data-id="{{i.id}}" data-name="{{i.name}}" data-description="{{i.description}}" data-tagid="{{i.tagId}}">Откорректировать</button>{% endif %}</td>
						<td {% if i.description != j.description %}style="background:#fb9f9f;"{% endif %}>{{i.description}}{% if i.description != j.description %}<br><button id="makecorrection" class="button secondary" data-id="{{i.id}}" data-name="{{i.name}}" data-description="{{i.description}}" data-tagid="{{i.tagId}}">Откорректировать</button>{% endif %}</td>
						<td {% if i.tagId != j.tagId|longHexToSmall %}style="background:#fb9f9f;"{% endif %}>{{i.tagId}}{% if i.tagId != j.tagId|longHexToSmall %}<br><button id="makecorrection" class="button secondary" data-id="{{i.id}}" data-name="{{i.name}}" data-description="{{i.description}}" data-tagid="{{i.tagId}}">Откорректировать</button>{% endif%}</td>
					</tr>
					<tr>
						<td>SP</td>
						<td>{{j.id}}</td>
						<td {% if i.name != j.name %}style="background:#fb9f9f;"{% endif %}>{{j.name}}</td>
						<td {% if i.description != j.description %}style="background:#fb9f9f;"{% endif %}>{{j.description}}</td>
						<td {% if i.tagId != j.tagId|longHexToSmall %}style="background:#fb9f9f;"{% endif %}>{{j.tagId|longHexToSmall}}</td>
					</tr>
				</tbody>
			</table>
		{% endif %}
	{% endfor %}
{% endfor %}

{% if haveinsp|length > 0 %}
	<h3>Отсутствуют в WS</h3>
	<table>
		<thead>
			<th>id</th>
			<th>name</th>
			<th>description</th>
			<th>tagId</th>
			<th>действие</th>
		</thead>
		<tbody>
			{% for i in haveinsp %}
				<tr>
					<td>{{i.id}}</td>
					<td>{{i.name}}</td>
					<td>{{i.description}}</td>
					<td>{{i.tagId|longHexToSmall}}</td>
					<td>
						<button class="button alert" id="delete" data-id="{{i.id}}">Удалить</button>
						<br>
						<button class="button secondary" id="sendtows" data-id="{{i.id}}">Отправить на WS</button>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a id="sendalltows">Отправить всё на WS</a>
	<script>
		var onlysp = [];
		{% for i in haveinsp %}
			onlysp.push({'server_id': parseInt('{{i.id}}'), 'name': '{{i.name}}', 'description': '{{i.description}}', 'tagId': '{{i.tagId|longHexToSmall}}'});
		{% endfor %}
	</script>
{% endif %}
{% if haveinws|length > 0 %}
	<h3>Отсутствуют в SP</h3>
	<table>
		<thead>
			<th>id</th>
			<th>name</th>
			<th>description</th>
			<th>tagId</th>
		</thead>
		<tbody>
			{% for i in haveinws %}
				<td>{{i.id}}</td>
				<td>{{i.name}}</td>
				<td>{{i.description}}</td>
				<td>{{i.tagId}}</td>
			{% endfor %}
		</tbody>
	</table>
	<script>
		$('#nodedifferencetable').foundation();
	</script>
{% endif %}