{% load staticfiles %}
{% if error %}
    <span class="alert label">{{error}}</span>
{% endif %}
{% if success %}
    <span class="success label">{{success}}</span>
{% endif %}
<table>
	<thead>
		<tr>
			<th>Наименование</th>
			<th>Действие</th>
		</tr>
	</thead>
	<tbody>
		{% for o in objects %}
			{% if o.LoadLandscape_id == landscape_id %}
			<tr {% for co in coloredobjects %}{% if co.Object_id == o.id %}style="background-color:bisque;"{% endif %}{% endfor %}>
				<td>Тип: {% for oot in objectobjecttypes %}{% if oot.Object_id == o.id %}{{oot.ObjectType__Name}}{% endif %}{% endfor %}
				Имя:{{o.Name}}
				{% for ob in objectbuilding %}
					{% if o.id == ob.Object_id %}
						{% for b in buildings %}
							{% if b.id == ob.Building_id %}
								Привязан: {% if b.BuildingName != None %}{{b.BuildingName}}{%else%}{{b.dae_BuildingName}}{% endif%}
							{% endif %}
						{% endfor%}
					{% endif %}
				{% endfor %}
				{% for of in objectfloor %}
					{% if o.id == of.Object_id %}
						{% for f in floors %}
							{% if f.id == of.Floor_id %}
								Привязан: {% if f.FloorName != None %}{{f.FloorName}}{% else %}{{f.dae_FloorName}}{% endif %}
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
				{% for ok in objectkabinet %}
					{% if o.id == ok.Object_id %}
						{% for k in kabinet_n_outer %}
							{% if k.id == ok.Kabinet_id %}
								Привязан: {% if k.Kabinet_n_OuterName != None %}{{k.Kabinet_n_OuterName}}{% else %}{{k.dae_Kabinet_n_OuterName}}{% endif %}
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endfor %}
				</td>
				<td>
					<button class="button" data-toggle="dropdownobject{{o.id}}">Действие</button>
					<div class="dropdown-pane left" id="dropdownobject{{o.id}}" data-dropdown style="width:200px;">
						<ul class="vertical dropdown menu" data-dropdown-menu>
							<li>
								<a href="#" id="showobject" data-id="{{o.id}}">Показать</a>
							</li>
							<li>
								<a href="#" id="hideobject" data-id="{{o.id}}">Скрыть</a>
							</li>
							<li>
							 	<a href="#" id="changetype" data-id="{{o.id}}">Изменить тип</a>
							 	<ul class="menu">
							 		<li>
							 			<select name="" id="objectobjecttype" data-id="{{o.id}}" style="margin-bottom:0;">
                    {% for type in objecttype %}
                        <option value="{{type.id}}" {% for oot in objectobjecttypes %}{% if oot.ObjectType_id == type.id and oot.Object_id == o.id %}selected="selected"{% endif %}{% endfor %}>{{type.Name}}</option>
                    {% endfor %}
                		</select>
							 		</li>
							 	</ul>
							</li>
							<li>
								<a href="#" id="changename" data-id="{{o.id}}">Изменить имя</a>
								<ul class="menu">
									<li>
										<input type="text" placeholder="имя" data-id="{{o.id}}" {% if o.Name %}value="{{o.Name}}"{% endif %}>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" id="changecoords" data-id="{{o.id}}">Изменить координаты</a>
								<ul class="menu">
									<li>{{o.Name}}</li>
									<li>
										<label for="xCoord">Координата X
											<input type="number" id="xCoord" data-id="{{o.id}}" step="0.01" value="{{o.xCoord|decToPoint}}">	
										</label>
									</li>
									<li>
										<label for="yCoord">Координата Y
											<input type="number" id="yCoord" data-id="{{o.id}}" step="0.01" value="{{o.yCoord|decToPoint}}">
										</label>
									</li>
									<li>
										<label for="zCoord">Координата Z
											<input type="number" id="zCoord" data-id="{{o.id}}" step="0.01" value="{{o.zCoord|decToPoint}}">
										</label>
									</li>
									<li>
										<button class="button success" data-id="{{o.id}}" id="savecoords">Сохранить</button>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" data-toggle="animatedModal{{o.id}}" id="parameters">Параметры</a>
								<div class="full reveal" id="animatedModal{{o.id}}" data-reveal data-close-on-click="true" data-animation-in="slide-in-left" data-animation-out="slide-out-right" data-overlay="false">
									{% for oot in objectobjecttypes %}
										{% if oot.Object_id == o.id%}
											{% if oot.ObjectType_id == 2 %}
<h4>Параметры {{oot.ObjectType__Name}}а "{{o.Name}}"</h1>
<label for="server_id">Идентификатор
	<input type="text" id="server_id" value="{% if o.server_id %}{{o.server_id}}{% endif %}">
	<span id="error"></span>
</label>
<label for="object_name">Наименование
	<input type="text" id="objname" value="{% if o.Name %}{{o.Name}}{% endif %}">
</label>
<label for="objdescription">Описание
	<textarea name="" id="objdescription" cols="30" rows="3">{% if o.Description %}{{o.Description}}{% endif %}</textarea>
</label>
<label for="server_inuse">Флаг использования устройств. Отмечен - использовать, отстутствует отметка - не использовать.
	<input type="checkbox" id="server_inuse" {% if o.server_inUse == 1 %}checked="checked"{% endif %}>
</label>
<label for="server_type">Тип роутера. W(work) - обычный рабочий роутер, S(stage) - роутер перехода с этажа на этаж, I(indoor) - роутер контроля нахождения внутри здания/зоны.
	<select name="" id="server_type">
		<option value="W" {% if o.server_type == 'W' %}selected="selected"{% endif %}>W</option>
		<option value="S" {% if o.server_type == 'S' %}selected="selected"{% endif %}>S</option>
		<option value="I" {% if o.server_type == 'I' %}selected="selected"{% endif %}>I</option>
	</select>
</label>
<label for="server_radius">Радиус окресности, попадание в которую означает нахождение в зоне действия этого роутера.
	<input type="number" step="0.10" value="{% if o.server_radius %}{{o.server_radius|decToPoint}}{% endif %}" id="server_radius">
</label>
<label for="minnumpoints">Минимальное количество точек последовательного попадания в окрестность после которого считается, что метка находится в зоне действия роутера
	<input type="number" id="minnumpoints" value="{% if o.server_minNumPoints %}{{o.server_minNumPoints}}{% endif %}">
</label>

											{% elif oot.ObjectType_id == 1 %}

<h4>Параметры {{oot.ObjectType__Name}}а "{{o.Name}}"</h1>
<label for="server_id">Идентификатор
	<input type="text" id="server_id" value="{% if o.server_id %}{{o.server_id}}{% endif %}">
	<span id="error"></span>
</label>
<label for="object_name">Наименование
	<input type="text" id="objname" value="{% if o.Name %}{{o.Name}}{% endif%}">
</label>
<label for="objdescription">Описание
	<textarea name="" id="objdescription" cols="30" rows="3">{% if o.Description %}{{o.Description}}{% endif %}</textarea>
</label>
<label for="server_inuse">Флаг использования устройств. Отмечен - использовать, отстутствует отметка - не использовать.
	<input type="checkbox" id="server_inuse" {% if o.server_inUse == 1 %}checked="checked"{% endif %}>
</label>
											{% endif %}
										{% endif %}
									{% endfor %}
									<div id="info"></div>
									<button class="button success" id="saveparameters" data-id="{{o.id}}" data-type="{% for oot in objectobjecttypes %}{% if oot.Object_id == o.id%}{{oot.ObjectType_id}}{% endif %}{% endfor %}">Сохранить параметры</button>
									<button class="close-button" data-close aria-label="Close reveal" type="button">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
							</li>
							<li>
								<a href="#" id="objectdelete" data-id="{{o.id}}">Удалить</a>
							</li>
							<li>
								<a href="#">Привязать к стру. подразделению</a
								>
								<ul class="menu">
                                    {% for b in buildings %}
                                        <li><a href="#"  id="linkobjecttostatic"  data-type="building" data-id="{{b.id}}"  data-objectid="{{o.id}}">{% if not b.BuildingName or b.BuildingName == '' %}{{b.dae_BuildingName}}{% else %}{{b.BuildingName}}{%endif%}</a>
                                            <ul class="menu">
                                                {% for f in floors %}
                                                {% if f.Building_id == b.id %}
                                                <li><a href="#" data-type="floor" data-id="{{f.id}}" id="linkobjecttostatic" data-objectid="{{o.id}}">{% if not f.FloorName or f.FloorName == '' %}{{f.dae_FloorName}}{% else %}{{f.FloorName}}{% endif %}</a>
                                                    <ul class="menu" style="max-height:200px;overflow-y:scroll;">
                                                    {% for k in kabinet_n_outer %}
                                                    {% if k.Floor_id = f.id %}
                                                    <li><a href="#" data-type="kabinet" data-id="{{k.id}}" id="linkobjecttostatic" data-objectid="{{o.id}}">{% if not k.Kabinet_n_OuterName or k.Kabinet_n_OuterName == '' %}{{k.dae_Kabinet_n_OuterName}}{% else %}{{k.Kabinet_n_OuterName}}{% endif%}</a></li>
                                                    {% endif %}
                                                    {% endfor %}
                                                    </ul>
                                                </li>
                                                {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% endfor %}        
                                </ul>
							</li>
							<li>
								<a href="#" id="sendobjecttoserver" data-id="{{o.id}}" data-landscape="{{landscape_id}}">Отправить на сервер  "Добавить объект"</a>
							</li>
							<li>
								<a href="#" id="sendobjectupdatetoserver" data-id="{{o.id}}" data-landscape="{{landscape_id}}">Отправить на сервер "Обновить объект"</a>
							</li>
						</ul>
					</div>
				</td>
			</tr>
			{% endif %}
		{% endfor %}
	</tbody>
</table>
<script>
	$('#objecttable').foundation();
</script>