<div class="large-12 small-12 columns">
	<h6>Имя:{{point_name}}</h6>
	<label for="">Координаты
		<div class="input-group">
			<span class="input-group-label">x</span>
			<input class="input-group-field" type="text" value="{{x}}" disabled="disabled">
		</div>
		<div class="input-group">
			<span class="input-group-label">y</span>
			<input class="input-group-field" type="text" value="{{y}}" disabled="disabled">
		</div>
		<div class="input-group">
			<span class="input-group-label">z</span>
			<input class="input-group-field" type="text" value="{{z}}" disabled="disabled">
		</div>
	</label>
	<label for="">Node для калибровки
		<select name="" id="nodeforcalibration">
			{% for i in nodes %}
				<option value="{{i.server_id}}" {% if selected_node == i.node_id %}selected="selected"{% endif %}>{{i.name}}</option>
			{% endfor %}
		</select>
	</label>
	{% if error %}
		<span class="label alert">{{error.text}}</span>
	{% endif %}
	<button class="button success" id="makecalibration" data-x="{{x}}" data-y="{{y}}" data-z="{{z}}">Начать калибровку</button>
</div>