<!DOCTYPE HTML>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Our WebGl</title>
		{% load staticfiles %}

		<script type="text/javascript" src="{% static 'js/vendor/jquery-2.2.0.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/vendor/foundation.core.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/attrchange.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/three.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/dat.gui.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/OrbitControls.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/stats.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/helvetiker_regular.typeface.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/ColladaLoader.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/sockjs.min.js' %}"></script>

  		<link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    	<link rel="stylesheet" href="{% static 'css/app.css' %}">


		<style>
			body{
				margin:0;
				overflow:hidden;
			}
		</style>
	</head>
	<body>
		{% csrf_token %}
        {% if username %}
		<!-- ***блок 3д изображения*** -->
		<!--************************-->
		<div id ="webGL-container"></div>
        <!-- ***блок панель управления*** -->
        <!--************************-->
        <button class="button show_hide_button">Панель инструментов</button>
        <div class="large-3 small-3 columns popup" style="padding-left:0px;padding-right:0px;">
            <ul class="tabs vertical" id="example-vert-tabs" data-tabs>


            </ul>
        </div>
        <div class="instrument_block large-3 small-12 columns" style="right:-100%;">
          
            <fieldset class="large-12 small-4 columns">
                <button class="close-button close_panel" aria-label="Close menu" type="button">
                    <span aria-hidden="true">x</span>
                </button>
                <h3 class="subheader">Объекты</h3>
                <ul class="vertical menu objects_tree" data-drilldown data-options="backButton:<li class='js-drilldown-back'><a>Назад</a></li>;">
                    {% for building in buildings %}
                    <li onclick="$('.cursor_box span').text(jQuery('a', this).first().attr('data-dae'));">
                        <a href="#" data-dae="{{building.dae_BuildingName}}">{{building.dae_BuildingName}}</a>
                        <ul class="vertical menu">
                        {% for floor in floors %}
                            {% if building.id == floor.Building_id %}
                                <li onclick="$('.cursor_box span').text(jQuery('a', this).first().attr('data-dae'));">
                                    <a href="#" data-dae="{{floor.dae_FloorName}}">{{floor.dae_FloorName}}</a>
                                    <ul class="vertical menu">
                                    {% for k in kabinet_n_outer %}
                                        {% if k.Floor_id == floor.id %}
                                        <li onclick="$('.cursor_box span').text(jQuery('a', this).first().attr('data-dae'));">
                                            <a href="#" data-dae="{{k.dae_Kabinet_n_OuterName}}">{{k.dae_Kabinet_n_OuterName}}</a>
                                            <ul class="vertical menu">
                                                {% for wall in walls %}
                                                    {% if wall.Kabinet_n_Outer_id == k.id %}
                                                    <li onclick="$('.cursor_box span').text(jQuery('a', this).first().attr('data-dae'));">
                                                        <a href="#" data-dae="{{wall.dae_WallName}}">{{wall.dae_WallName}}</a>
                                                        <ul class="vertical menu"></ul>
                                                    </li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        {% endif %}
                                    {% endfor %}
                                    </ul>
                                </li>
                            {% endif %}
                        {% endfor %}
                        </ul>        
                    </li>
                    {% endfor %}                    
                </ul>
            </fieldset>
            <fieldset class="large-12 small-4 columns cursor_box">
                <span class="label large-12 small-12 columns" style="margin-top:15px;"></span>
                <br>
            </fieldset>
            <fieldset class="large-12 small-4 columns">
                <a href="#" class="secondary hollow button large button_style select_object" style="font-size:100%;">Выбрать</a>
                <a href="#" class="secondary hollow button large button_style camera" style="font-size:100%;">Навести камеру</a>    
            </fieldset>
            <fieldset class="large-12 small-4 columns">
                <!-- <h3 class="subheader">Видимость</h3> -->
                <ul class="tabs" data-tabs id="example-tabs">
                    <li class="tabs-title is-active" id="turn_on"><a href="#panel1">Показать</a></li>
                    <li class="tabs-title" id="turn_off"><a href="#panel2">Скрыть</a></li>
                </ul>
            </fieldset>
            <fieldset class="large-12 small-4 columns">
                <h3 class="subheader">Видимость</h3>
                <div class="slider" data-slider data-initial-start="1" data-start="0" data-end="1">
                    <span class="slider-handle" data-slider-handle role="slider" tabindex="1"></span>
                    <span class="slider-fill" data-slider-fill></span>
                    <input type="hidden" id="building_opacity">
                </div>
            </fieldset>
        </div>
		<!-- **********шейдеры ******-->
		<!--************************-->
		<script type="x-shader/x-vertex" id="vertexShader">

			varying vec3 vWorldPosition;
			void main() {

				vec4 worldPosition = modelMatrix * vec4( position, 1.0 );
				vWorldPosition = worldPosition.xyz;

				gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
			}
		</script>

		<script type="x-shader/x-fragment" id="fragmentShader">

			uniform vec3 topColor;
			uniform vec3 bottomColor;
			uniform float offset;
			uniform float exponent;

			varying vec3 vWorldPosition;

			void main() {

				float h = normalize( vWorldPosition + offset ).y;
				gl_FragColor = vec4( mix( bottomColor, topColor, max( pow( h, exponent ), 0.0 ) ), 1.0 );

			}
		</script>
		<!--************************-->
<!--***********буфер**************-->
		<!--************************-->
	<script>
    //панель инструментов
    $.getScript("/static/js/additional/instrument_panel.js");
	var unique = {};
    //геометрия метки
	var cubeGeom = new THREE.BoxGeometry(0.5, 0.5, 0.5, 2, 2, 2);
	var cubeMaterial = new THREE.MeshBasicMaterial({color: 0x0000ff, transparent: false, opacity:0.8});
    //геометрия окружности
    var radius = 2;
    var segments = 24
    var circleGeom = new THREE.CircleGeometry(radius, segments);
    var circleMaterial = new THREE.MeshBasicMaterial({color: 0xfadc4a, transparent: true, opacity:0.7, side: THREE.DoubleSide});
	var guiControls, datGUI;
    //массив объектов
    var colladaObjects = {}


	$(document).ready(function(){
		var marks;
		var unum = 0;
        //socket connection
        $(window).on('beforeunload', function(){
            socket.close();     
        });

        socket_connect();

        function socket_connect(){
            socket = new SockJS('http://192.168.1.78:8989/orders');

            socket.onmessage = function(msg){
                var channel = msg.data.type;
                var data = msg.data.data['data'];
                if (channel == 'server_lock'){
                    $.each(data, function(index){
                        $.each(data, function(index){
                            //первая запись в буфере
                            if(unique[0] == undefined){
                                unique[0] = data[index];
                                unum += 1;
                            } else {
                                //проверка на уникальность id в буфере
                                //если нет, записать в массив
                                tag_id_new = data[index]['tag_id'];
                                datacoords = data[index];
                                doubled = 0;
                                $.each(unique, function(index){
                                    tag_id_unique = unique[index]['tag_id'];
                                    if (tag_id_new == tag_id_unique){
                                        unique[index].x = datacoords.x;
                                        unique[index].y = datacoords.y;
                                        unique[index].z = datacoords.z;
                                        doubled = 1;
                                        return false;
                                    }
                                });
                                if (doubled==0){
                                    unique[unum] = data[index];
                                    unum += 1;
                                }
                            }
                        });
                    })
                }
            }

            socket.onclose = function(e){
                setTimeout(socket_connect, 5000);
            }
        }
	});

	//************************
	//************************
	//сцена, фон, сетка, камера
	//инициализация
	//************************
	//************************

	//массив меток
	var cube = {};

    //глобальные переменные
	var dae;
	var camera;
	var spotLight;
	var cameraTarget;
	var renderer;
	var scene;
	// глобальный объект
	var center;

	function init(){

    /*сцена, камера */
    scene = new THREE.Scene();
    camera =  new THREE.PerspectiveCamera(85, window.innerWidth/window.innerHeight, .1, 1000);
    renderer = new THREE.WebGLRenderer({antialias:true});
    
    /*рендерер;*/
    renderer.setSize(window.innerWidth, window.innerHeight);
    renderer.shadowMapEnabled= true;
    renderer.shadowMapType = THREE.PCFSoftShadowMap;
    
    /*оси*/
    axis = new THREE.AxisHelper(30);
    scene.add(axis);

    /* сетка */
    grid = new THREE.GridHelper(100, 25);
    color = new THREE.Color("rgb(255, 0, 0)");
    grid.setColors(color, 0x000000);
    grid.rotation.x = -0.5* Math.PI
    /*scene.add(grid);*/
    
    //шейдер неба
    var vertexShader = document.getElementById( 'vertexShader' ).textContent;
    var fragmentShader = document.getElementById( 'fragmentShader' ).textContent;
    var uniforms = {
        topColor:      { type: "c", value: new THREE.Color(0x000000) },
        bottomColor: { type: "c", value: new THREE.Color( 0x262626 ) },
        offset:         { type: "f", value: 100 },
        exponent:     { type: "f", value: 0.7 }
    }

    //сфера неба
    var skyGeo = new THREE.SphereGeometry( 300, 32, 15 );
    var skyMat = new THREE.ShaderMaterial( { vertexShader: vertexShader, fragmentShader: fragmentShader, uniforms: uniforms, side: THREE.BackSide } );

    var sky = new THREE.Mesh( skyGeo, skyMat );
    scene.add( sky );

    //маркеры калибровки
    var markGeom = new THREE.BoxGeometry(0.5, 0.5, 0.5, 2, 2, 2);
    var markMaterial = new THREE.MeshLambertMaterial({color: 0xff0000});
    this.marker6004 = new THREE.Mesh(markGeom, markMaterial);
    marker6004.position.set(39.682, 76.457, 7.6);
    scene.add(marker6004);

    this.marker6045 = new THREE.Mesh(markGeom, markMaterial);
    marker6045.position.set(30.141, 76.462, 8.7);
    scene.add(marker6045);

    this.marker6003 = new THREE.Mesh(markGeom, markMaterial);
    marker6003.position.set(39.811, 59.531, 7.595);
    scene.add(marker6003);

    this.marker6012 = new THREE.Mesh(markGeom, markMaterial);
    marker6012.position.set(28.649, 59.256, 8.7);
    scene.add(marker6012);

    /* add collada import */
    var loader = new THREE.ColladaLoader();
    /*loader.options.convertUpAxis = true;*/
    loader.load( '/static/js/webgl/models/{{link}}', function ( collada ) {
        //расширение bounding box по размерам внутренних элементов
        var getBoundingBox = function(node, dae_elem, indae_elem){
            if (indae_elem == 1){
                if(node.parent.children){
                    for (var i = 0; i < node.parent.children.length; i++){
                        inner_elem = node.parent.children[i]
                        var bbox = new THREE.Box3().setFromObject(inner_elem);
                        inner_elem.BoxMin = bbox['min'];
                        inner_elem.BoxMax = bbox['max'];
                        if(dae_elem.BoxMin['x'] > inner_elem.BoxMin['x']){
                            dae_elem.BoxMin['x'] = inner_elem.BoxMin['x'];
                        }
                        if(dae_elem.BoxMin['y'] > inner_elem.BoxMin['y']){
                            dae_elem.BoxMin['y'] = inner_elem.BoxMin['y'];
                        }
                        if(dae_elem.BoxMin['z'] > inner_elem.BoxMin['z']){
                            dae_elem.BoxMin['z'] = inner_elem.BoxMin['z'];
                        }
                        if (dae_elem.BoxMax['x'] < inner_elem.BoxMax['x']){
                            dae_elem.BoxMax['x'] = inner_elem.BoxMax['x'];
                        }
                        if (dae_elem.BoxMax['y'] < inner_elem.BoxMax['y']){
                            dae_elem.BoxMax['y'] = inner_elem.BoxMax['y'];
                        }
                        if (dae_elem.BoxMax['z'] < inner_elem.BoxMax['z']){
                            dae_elem.BoxMax['z'] = inner_elem.BoxMax['z'];
                        }
                    } 
                }
            }
            if (node.children){
                for (var i = 0; i < node.children.length; i++){
                    if (node.children[i].name == dae_elem.name) {
                        getBoundingBox(node.children[i], dae_elem, 1);
                    }
                    getBoundingBox(node.children[i], dae_elem, 0);
                }
            }
        }

        //функция поиска центра collada объекта на оси координат
        var getCenter = function(obj){
            minx = obj.min.x;
            miny = obj.min.y;
            minz = obj.min.z;

            maxx = obj.max.x;
            maxy = obj.max.y;
            maxz = obj.max.z;

            x = (minx - maxx);
            x = x - 2*x;

            y = (miny - maxy);
            y = y - 2*y;

            z = (minz - maxz);
            z = z - 2*z;

            a = {}
            a['x'] = minx + x/2;
            a['y'] = miny + y/2;
            a['z'] = minz + z/2;
            return a;
        }

    	//gls.dae
    	var dae = collada.scene;
    	dae.position.set(28.141,59.087,8.6);
    	dae.scale.set(1,1,1);
    	dae.rotation.z = 0;
    	dae.rotation.x = Math.PI;
        dae.rotation.y = Math.PI;
    	scene.add(dae);


        //****************************
        //**заполняем массив элементов сцены
        //****************************

        //**дерево
        colladaObjects['landscape'] = [];

        //**наполняем landscape
        colladaObjects['landscape'].push(dae['children'][0]['children'][0]);
        colladaObjects['landscape'][0].name = colladaObjects['landscape'][0]['parent']['name'];
            // ищем центр landscape
            lndscp = dae;
            var bbox = new THREE.Box3().setFromObject(lndscp);
            landscape = colladaObjects['landscape'][0];
            a = getCenter(bbox);
            landscape.Center = new THREE.Vector3(a['x'], a['y'], a['z']);
        //**наполняем building
        var no = 0;
        $.each(colladaObjects['landscape'][0].parent.children, function(value){
            var landscape = colladaObjects['landscape'][0].parent.children[value];
            if (landscape.name.indexOf('building') != -1){
                colladaObjects['landscape'][0].children.push(landscape.children[0]);
                colladaObjects['landscape'][0]['children'][no]['name'] = colladaObjects['landscape'][0]['children'][no]['parent']['name'];
                    // ищем центр building
                    bld = colladaObjects['landscape'][0].children[no];
                    var bbox = new THREE.Box3().setFromObject(bld);
                    bld.BoxMin = bbox['min'];
                    bld.BoxMax = bbox['max'];
                    getBoundingBox(colladaObjects['landscape'][0], bld, 0);
                    a = getCenter(bbox);
                    bld.Center = new THREE.Vector3(a['x'], a['y'], a['z']);
                building = colladaObjects['landscape'][0]['children'][no].parent.children;
                //**наполняем floor
                var noFloor = 0
                $.each(building, function(value){
                    if (building[value].name.indexOf('floor') != -1){
                        colladaObjects['landscape'][0].children[no].children.push(building[value].children[0]);
                        colladaObjects['landscape'][0].children[no].children[noFloor].name = building[value].name;
                            // ищем центр floor
                            flr = colladaObjects['landscape'][0].children[no].children[noFloor];
                            var bbox = new THREE.Box3().setFromObject(flr);
                            flr.BoxMin = bbox['min'];
                            flr.BoxMax = bbox['max'];
                            getBoundingBox(colladaObjects['landscape'][0], flr, 0);
                            a = getCenter(bbox);
                            flr.Center = new THREE.Vector3(a['x'], a['y'], a['z']);
                        //** наполняем kabinet и outer
                        floor = colladaObjects['landscape'][0]['children'][no]['children'][noFloor].parent.children;
                        var noKabinet = 0;
                        $.each(floor, function(value){
                            if(floor[value].name.indexOf('kabinet') != -1){
                                colladaObjects['landscape'][0].children[no]['children'][noFloor].children.push(floor[value].children[0]);
                                colladaObjects['landscape'][0].children[no]['children'][noFloor].children[noKabinet].name = floor[value].name;
                                    // ищем центр kabinet
                                    kbnt = colladaObjects['landscape'][0].children[no]['children'][noFloor].children[noKabinet];
                                    var bbox = new THREE.Box3().setFromObject(kbnt);
                                    kbnt.BoxMin = bbox['min'];
                                    kbnt.BoxMax = bbox['max'];
                                    getBoundingBox(colladaObjects['landscape'][0], kbnt,0);
                                    a = getCenter(bbox);
                                    kbnt.Center = new THREE.Vector3(a['x'], a['y'], a['z']);
                                //** наполняем wall
                                kabinet = colladaObjects['landscape'][0]['children'][no]['children'][noFloor]['children'][noKabinet].parent.children;
                                var noWall = 0;
                                $.each(kabinet, function(value){
                                    if(kabinet[value].name.indexOf('wall') != -1){
                                        colladaObjects['landscape'][0].children[no]['children'][noFloor].children[noKabinet].children.push(kabinet[value].children[0]);
                                        colladaObjects['landscape'][0].children[no]['children'][noFloor].children[noKabinet].children[noWall].name = kabinet[value].name
                                            // ищем центр wall
                                            wall = colladaObjects['landscape'][0].children[no]['children'][noFloor].children[noKabinet].children[noWall]
                                            var bbox = new THREE.Box3().setFromObject(wall);
                                            wall.BoxMin = bbox['min'];
                                            wall.BoxMax = bbox['max'];
                                            a = getCenter(bbox);
                                            wall.Center = new THREE.Vector3(a['x'], a['y'], a['z']);
                                        noWall += 1;
                                    }
                                });
                                noKabinet += 1;
                            }
                            if (floor[value].name.indexOf('outer') != -1){
                                colladaObjects['landscape'][0].children[no]['children'][noFloor].children.push(floor[value].children[0]);
                                colladaObjects['landscape'][0].children[no]['children'][noFloor].children[noKabinet].name = floor[value].name;
                                    // ищем центр outer
                                    outr = colladaObjects['landscape'][0].children[no]['children'][noFloor].children[noKabinet];
                                    var bbox = new THREE.Box3().setFromObject(outr);
                                    outr.BoxMin = bbox['min'];
                                    outr.BoxMax = bbox['max'];
                                    a = getCenter(bbox);
                                    outr.Center = new THREE.Vector3(a['x'], a['y'], a['z']);
                                noKabinet += 1
                            }
                        });
                        noFloor += 1;
                    }
                });
                no += 1;
            }
            // наполняем light
            if (landscape.name.indexOf('light') != -1){
                colladaObjects['landscape'][0].children.push(landscape.children[0]);
                colladaObjects['landscape'][0]['children'][no]['name'] = colladaObjects['landscape'][0]['children'][no]['parent']['name'];
                var light = colladaObjects['landscape'][0]['children'][no];
                    // ищем центр light
                    lght = colladaObjects['landscape'][0].children[no];
                    var bbox = new THREE.Box3().setFromObject(lght);
                    a = getCenter(bbox);
                    lght.Center = new THREE.Vector3(a['x'], a['y'], a['z']);
                no += 1;
            }
        });

        //****************************
        //**настройки сцены по умолчанию
        //****************************

    	//landscape 
    	plane = colladaObjects['landscape'][0];
        /*plane.receiveShadow = true;*/
    	setMaterialObject(plane, new THREE.MeshPhongMaterial({ color: 0x803131 }));
    	//building
        $.each(colladaObjects['landscape'][0].children, function(value){
            if (colladaObjects['landscape'][0].children[value].name.indexOf('building') != -1){
                building = colladaObjects['landscape'][0].children[value];
                /*building.visible = false;*/
                $.each(building.children, function(value){
                    //floor
                    floor = building.children[value];
                    setMaterialObject(floor, new THREE.MeshPhongMaterial({color: 0x008080, transparent:true}));
                    /*floor.receiveShadow = true;*/
                    /*floor.castShadow = true;*/
                    //kabinet n outer
                    $.each(floor.children, function(value){
                        if (floor.children[value].name.indexOf('outer') != -1){
                            outer = floor.children[value];
                            /*outer.castShadow = true;*/
                            setMaterialObject(outer, new THREE.MeshLambertMaterial({color: 0x6b002b, transparent:true}));
                        } else if (floor.children[value].name.indexOf('kabinet') != -1){
                            kabinet = floor.children[value];
                            kabinet.visible = false;
                            //wall
                            $.each(kabinet.children, function(value){
                                wall = kabinet.children[value];
                                /*wall.castShadow = true;*/
                                setMaterialObject(wall, new THREE.MeshLambertMaterial({color: 0x193434, transparent:true}));
                            });
                        }
                    });
                });
            }
            if (colladaObjects['landscape'][0].children[value].name.indexOf('light') != -1){
                light = colladaObjects['landscape'][0].children[value];
                light.visible = false;
                a = light.Center;
                spotLight = new THREE.SpotLight(0xffffff);
                spotLight.castShadow = true;
                spotLight.position.set (a['x'], a['y'], a['z']);
                spotLight.target.position.set(a['x'], a['y'], a['z']-60);
                this.lightX = 20;
                this.lightY = 35;
                this.lightZ = 40;
                this.intensity = 5;
                this.decay = 8.5;   
                this.distance = 87;
                this.angle = 0.54;
                this.exponent = 0;
                this.shadowCameraNear = 10;
                this.shadowCameraFar = 100;
                this.shadowCameraFov = 50;
                this.shadowCameraVisible=false;
                this.shadowMapWidth=1028;
                this.shadowMapHeight=1028;
                this.shadowBias=0;
                this.shadowDarkness=0.5;
                spotLight.target.updateMatrixWorld();
                scene.add(spotLight);
            }
        });

        //***********************
        //** фунции управления элементами
        //*******************
        
        //add raycaster and mouse as 2D vector
        raycaster = new THREE.Raycaster();
        mouse = new THREE.Vector2();

        //add event listener for mouse and calls function when activated
        document.addEventListener('dblclick', onDocumentMouseDown, false);
        document.addEventListener('touchstart', onDocumentTouchStart, false);

        function onDocumentTouchStart(event){
            event.preventDefault();
            event.clientX = event.touches[0].clientX;
            event.clientY = event.touches[0].clientY;
            onDocumentMouseDown(event);
        }

        var selectedFloor;
        function onDocumentMouseDown(event){
            var floor = {};
            var building = {};
            var kabinet = {};
            

            event.preventDefault();
            mouse.x = (event.clientX/ renderer.domElement.width) * 2 - 1;
            mouse.y = -(event.clientY/ renderer.domElement.height) * 2 + 1;

            raycaster.setFromCamera(mouse, camera);

            //ищем building по floor
            ElemLookUp(colladaObjects['landscape'][0], 'building', building, 0);
            
            nofloor = 0;
            $.each(building, function(index){
                ElemLookUp(building[index], 'floor', floor, nofloor);
                $.each(floor, function(){
                    nofloor += 1;
                });
            });

            //передаем floor перехватчику
            var intersects = {};
            no = 0;
            $.each(floor, function(index){
                intersects[no] = raycaster.intersectObject(floor[index]);
                no += 1;
            });

            //наполняем popup floor            
            $('.popup').empty();

            $.each(intersects, function(index){
                if (intersects[index].length > 0) {
                    dae_elem = intersects[index][0].object.parent.parent.name;
                    selectTarget(colladaObjects['landscape'][0], dae_elem);
                    lookUpBuilding(colladaObjects['landscape'][0], dae_elem);
                    lookUpFloor(colladaObjects['landscape'][0], dae_elem, {});
                    lookUpKabinet(colladaObjects['landscape'][0], dae_elem, {});
                    cameraToggle(colladaObjects['landscape'][0], dae_elem);
                    flr = intersects[index][0].object.parent.parent
                    $('.popup').empty();
                    $.each(flr.children, function(index){
                        if (flr.children[index].name.indexOf('floor') != -1){
                            $('.popup').append('<li class="tabs-title" style="width:100%;"><a href="#panel2v">'+ flr.children[index].name +'</a></li>');    
                        }
                    });
                }
            });

            //событие нажатие переключение к floor
            $('.popup a').on('click', function(){
                dae_elem = $(this).text();
                selectedFloor = dae_elem;
                selectTarget(colladaObjects['landscape'][0], dae_elem);
                lookUpBuilding(colladaObjects['landscape'][0], dae_elem);
                lookUpFloor(colladaObjects['landscape'][0], dae_elem, {});
                lookUpKabinet(colladaObjects['landscape'][0], dae_elem, {});
                cameraToggle(colladaObjects['landscape'][0], dae_elem);                
            });

            nokabinet = 0;
            //ищем kabinet по floor
            $.each(floor, function(index){
                if (floor[index].name == selectedFloor){
                    ElemLookUp(floor[index], 'kabinet', kabinet, nokabinet);
                    nokabinet += 1;
                }
            });


            //передаем kabinet перехватчику
            var intersectsKab = {};
            no = 0;
            $.each(kabinet, function(index){
                intersectsKab[no] = raycaster.intersectObject(kabinet[index]);
                no += 1;
            });

            no = 0;
            //наполняем popup kabinet
            $.each(intersectsKab, function(index){
                if (intersectsKab[index].length > 0) {
                    if (selectedFloor == kabinet[index].parent.parent.name){
                        dae_elem = intersectsKab[index][0].object.name;
                        selectTarget(colladaObjects['landscape'][0], dae_elem);
                        lookUpBuilding(colladaObjects['landscape'][0], dae_elem);
                        lookUpFloor(colladaObjects['landscape'][0], dae_elem, {});
                        lookUpKabinet(colladaObjects['landscape'][0], dae_elem, {});
                        cameraToggle(colladaObjects['landscape'][0], dae_elem);
                        $('.popup').empty();
                        $.each(kabinet, function(index){
                            $('.popup').append('<li class="tabs-title" style="width:100%;"><a href="#panel2v">'+ kabinet[index].name +'</a></li>');    
                        });
                    }
                }
            });
        }
        //событие нажатие переключение kabinet
        $('.popup').delegate('a', 'click', function(){
            dae_elem = $(this).text();
            selectedFloor = dae_elem;
            selectTarget(colladaObjects['landscape'][0], dae_elem);
            lookUpBuilding(colladaObjects['landscape'][0], dae_elem);
            lookUpFloor(colladaObjects['landscape'][0], dae_elem, {});
            lookUpKabinet(colladaObjects['landscape'][0], dae_elem, {});
            cameraToggle(colladaObjects['landscape'][0], dae_elem);
        });

        function ElemLookUp(node, text, object, no){
            if (node.children){
                for(var i = 0; i < node.children.length; i++){
                    if(node.children[i].name.indexOf(text) != -1){
                        object[no] = node.children[i];
                        no += 1;
                    }
                    ElemLookUp(node.children[i], text, object, no);
                }
            }
        }






        //видимость
        $('#turn_off').on('click', function(){
            var dae_elem = $('.cursor_box span').text();
            togleVisibleOff(colladaObjects['landscape'][0], dae_elem);
        });

        $('#turn_on').on('click', function(){
            var dae_elem = $('.cursor_box span').text();
            togleVisibleOn(colladaObjects['landscape'][0], dae_elem);
        });

        var togleVisibleOn = function(node, dae_elem){
            defaultToggle(node);
            if (node.children){
                for (var i = 0; i < node.children.length; i++){
                    if (node.children[i].name == dae_elem){
                        togleVisible(node.children[i], true);
                    }
                    togleVisibleOn(node.children[i], dae_elem);
                }
            }
        }

        var togleVisibleOff = function(node, dae_elem){
            if (node.children){
                for (var i = 0; i < node.children.length; i++){
                    if (node.children[i].name == dae_elem){
                        togleVisible(node.children[i], false);
                    }
                    togleVisibleOff(node.children[i], dae_elem);
                }
            }
        }

        //скрыть видимость элементов по умолчанию невидимых
        var defaultToggle = function(node){
            if (node.name.indexOf('building') != -1 ){
                node.visible = false;
            }
            if (node.name.indexOf('kabinet') != -1){
                node.visible = false;
            }
            for (var i = 0; i < node.children.length; i++){
                if (node.children[i].name.indexOf('kabinet') != -1){
                    node.children[i].visible = false;
                }
                defaultToggle(node.children[i]); 
            }
        }

        //прозрачность
        $('#building_opacity').attrchange({
            trackValues: false,
            callback: function(event){
                var dae_elem = $('.cursor_box span').text();
                opacityFinder(colladaObjects['landscape'][0], dae_elem, $(this).attr('value'));
            }
        });

        var opacityFinder = function(node, dae_elem, value){
            if (node.children){
                for(var i=0; i < node.children.length; i++){
                    if(node.children[i].name == dae_elem){
                        togleOpacity(node.children[i], value);
                    }
                    opacityFinder(node.children[i], dae_elem, value);
                }
            }
        }
        //кнопка "камера"
        $('.camera').on('click', function(){
            var dae_elem = $('.cursor_box span').text();
            cameraToggle(colladaObjects['landscape'][0], dae_elem);
        });

        //кнопка "выбрать"
        $('.select_object').on('click', function(){
            var dae_elem = $('.cursor_box span').text();
            selectTarget(colladaObjects['landscape'][0], dae_elem);
            lookUpBuilding(colladaObjects['landscape'][0], dae_elem);
            lookUpFloor(colladaObjects['landscape'][0], dae_elem, {});
            lookUpKabinet(colladaObjects['landscape'][0], dae_elem, {});
            cameraToggle(colladaObjects['landscape'][0], dae_elem);
        });

        //поиск зданий
        var lookUpBuilding = function(node, dae_elem){
            if (node.children){
                for (var i=0; i < node.children.length; i++){
                    if (node.children[i].name.indexOf('building') != -1){
                        building = node.children[i].name;
                        if (building == dae_elem){
                            opacityFinder(colladaObjects['landscape'][0], dae_elem, 0.3);
                            //показываем скрытые объекты
                            togleVisibleOn(colladaObjects['landscape'][0], building);
                        }
                    }
                    lookUpBuilding(node.children[i], dae_elem);
                }   
            }
        }

        //поиск этажей
        var lookUpFloor = function(node, dae_elem, floors){
            defaultToggle(node);
            if (node.children){
                for (var i=0; i < node.children.length; i++){
                    if(node.children[i].name.indexOf('floor') != -1){
                        if(node.children[i].name == dae_elem){
                            name = dae_elem.split('_');
                            cur = {}
                            cur['curNum'] = parseInt(name[1].substring(0, 3));
                            cur['curName'] = node.children[i].name;
                            //ищем outer
                            for (var q=0; q < node.children[i].children.length; q++){
                                name = node.children[i].children[q].name
                                if(name.indexOf('outer') != -1){cur['outrName'] = name}
                            }
                            for (var j=0; j < node.children.length; j++){
                                var name = node.children[j].name;
                                if(name.indexOf('floor') != -1) {
                                    name = name.split('_');
                                    number = parseInt(name[1].substring(0, 3));
                                    floors[node.children[j].name] = number;
                                }
                            }
                            $.each(floors, function(value){
                                //скрываем этажи, выше текущего
                                if (floors[value] > cur['curNum']) {
                                    togleVisibleOff(colladaObjects['landscape'][0], value);
                                }
                                //уменьшаем прозрачность этажей, ниже текущего
                                if (floors[value] < cur['curNum']) {
                                    opacityFinder(colladaObjects['landscape'][0], value, 0.1);
                                }
                                //скрываем outer текущего этажа
                                if (floors[value] == cur['curNum']){
                                    togleVisibleOn(colladaObjects['landscape'][0], cur['curName']);
                                    //скрываем outer
                                    togleVisibleOff(colladaObjects['landscape'][0], cur['outrName']);
                                    //устанавливаем прозрачность текущего этажа
                                    opacityFinder(colladaObjects['landscape'][0], cur['curName'], 1);
                                }
                            })
                            max = Math.max.apply(Math, floors);
                            min = Math.min.apply(Math, floors);
                        }
                    }
                    lookUpFloor(node.children[i], dae_elem, floors);
                }
            }
        }
        //поиск кабинетов
        var lookUpKabinet = function(node, dae_elem, kabinets){
            defaultToggle(node);
            if (node.children){
                for(var i = 0; i < node.children.length; i++){
                    if (node.children[i].name.indexOf('kabinet') != -1){
                        if(node.children[i].name == dae_elem){
                            //включаем поиск этажей
                            lookUpFloor(colladaObjects['landscape'][0], node.parent.name, {});
                            curName = node.children[i].name;
                            for (var j = 0; j < node.children.length; j++){
                                var name = node.children[j].name;
                                if(name.indexOf('kabinet') != -1) {
                                    name = name.split('_');
                                    kabinets[node.children[j].name] = node.children[j].name;
                                }
                            }
                            $.each(kabinets, function(value){
                                if (kabinets[value] != curName){
                                    //уменьшаем прозрачность других кабинетов
                                    togleVisibleOff(colladaObjects['landscape'][0], value);
                                }
                                //устанавливаем прозрачность текущего кабинета
                                opacityFinder(colladaObjects['landscape'][0], curName, 0.8);
                            });
                        }
                    }
                    lookUpKabinet(node.children[i], dae_elem, kabinets);
                }
            }
        }


        var selectTarget = function(node, dae_elem){
            if (node.children){
                for(var i=0; i < node.children.length; i++){
                    if(node.children[i].name == dae_elem){
                        var min = node.children[i].BoxMin;
                        var max = node.children[i].BoxMax;
                        //записать min и max в сессию
                        $.ajax({
                            type: "POST",
                            url: "/minmaxtosession",
                            data: JSON.stringify({'username': '{{username}}', 'landscape_id': '{{landscape_id}}', 'min':min, 'max':max}),
                            contentType: "application/json; charset=utf-8",
                            dataType: 'json',
                            async: true,
                            success: function(data, textStatus, jqXHR){
                                //очищаем метки, которые ранее отображались
                                $.each(unique, function(index){
                                    scene.remove(unique[index]['mesh']);
                                });
                                unique = {};
                                first = 1;
                            }
                        });
                        return 'ok';
                    }
                    selectTarget(node.children[i], dae_elem);
                }
            }
        }

        var cameraToggle = function(node, dae_elem){
            if(node.children){
                for (var i = 0; i < node.children.length; i++){
                    if (node.children[i].name == dae_elem){
                        x = node.children[i].Center.x;
                        y = node.children[i].Center.y;
                        z = node.children[i].Center.z;
                        /*camera.position.set(x+40, y, z-40);*/
                        /*controls.target.copy(new THREE.Vector3(x, y, z));*/
                        camera.LookAtNew = new THREE.Vector3(x, y, z);
                        /*camera.PozNew = new THREE.Vector3(x, y, z);*/
                        controls.TarNew = new THREE.Vector3(x, y, z);
                    }
                    cameraToggle(node.children[i], dae_elem);
                }
            }
        }

    });

    //изменить материал для обектов
    var setMaterialObject = function(obj, material) {
    	obj.material = material;
	}

    //изменить материал для дочерних объектов
    var setMaterialNode = function(node, material) {
		node.material = material;
		if (node.children) {
			for (var i = 0; i < node.children.length; i++) {
  				setMaterialNode(node.children[i], material);
			}
		}
	}

    //изменение видимости дочерних объектов
    var togleVisible = function(node, bool){
        node.visible = bool;
        if (node.children) {
            for (var i = 0; i < node.children.length; i++) {
                togleVisible(node.children[i], bool);
            }
        }
    }

    //изменение прозрачности дочерних объектов
    var togleOpacity = function(node, floatVal){
        node.material.opacity = floatVal;
        node.material.transparent = true;
        if (node.children) {
            for (var i = 0; i < node.children.length; i++) {
                togleOpacity(node.children[i], floatVal);
            }
        }
    }

              
	/* позиция камеры по умолчанию */
    /*camera.position.set(69, 69, -50);*/
    camera.position.set(69, 69, 50);
    camera.PozOld = new THREE.Vector3(69, 69, -50);
    /* вверх - это Z*/
    /*camera.up.set( 0, 0, -1 );*/
    camera.up.set( 0, 0, 1 );
    scene.add(camera);


    /*камера. контроль за сменой позиции*/
    controls = new THREE.OrbitControls( camera, renderer.domElement );
    /* камера вращается вокруг данных координат*/
    controls.target.copy(new THREE.Vector3(34.141, 67.862, 8.6));
    controls.TarOld = new THREE.Vector3(34.141, 67.862, 8.6)
    //камера смотрит
    camera.lookAt(new THREE.Vector3(34.141, 67.862, 8.6));
    camera.LookAt = new THREE.Vector3(34.141, 67.862, 8.6);
    controls.addEventListener( 'change', render );
    hemi = new THREE.HemisphereLight(0xbbbbbb, 0x0099FF);
    scene.add(hemi);

    $("#webGL-container").append(renderer.domElement);

    /*статистика*/
    stats = new Stats();        
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.left = '0px';
    stats.domElement.style.top = '0px';     
    $("#webGL-container").append( stats.domElement );       
	  }

    var first = 1;
    var uniqueCount = 0;
    var circleStep = 0;
    function render(){
		//проверка наличия элемента на сцене, если новый добавить
        noUnq = 0;
		$.each(unique, function(index){
			if (unique[index]['mesh']==undefined){
				//добавление элемента на сцену
				unique[index]['mesh'] = new THREE.Mesh(cubeGeom, cubeMaterial);
				scene.add(unique[index]['mesh']);
                unique[index]['circle'] = new THREE.Mesh(circleGeom, circleMaterial);
                unique[index]['circle'].rotation.x = -1* Math.PI
                scene.add(unique[index]['circle']);
                unique[index]['mesh'].add(unique[index]['circle']);
			}
            noUnq += 1;
		});

        if (noUnq != uniqueCount) {
            first = 1;
            uniqueCount = noUnq;
        }

		$.each(unique, function(index){
			var timeOut = 5000;
			ind = index;
            x = unique[index].x;
            y = unique[index].y;
            z = unique[index].z;
            unique[index]['mesh'].position.set(x, y, z);
			//прохождение позиций координат
            //....................
            //......................
			//oчищаем count
			unique[ind]['count'] = 0;
		});

        //скрываем видимость тех, от кого нет сигнала за обозначенное время
        $.each(unique, function(index){
            if (unique[index]['cron'] > 600000){
                unique[index]['mesh'].visible = false;
                unique[index]['invisible'] = 1;
                clearInterval(unique[index]['timerid']);
            }
            if ((unique[index]['invisible'] == 1) && (unique[index]['cron'] < 600000)){
                unique[index]['mesh'].visible = true;
                unique[index]['invisible'] = 0;
                clearInterval(unique[index]['timerid']);
            }
        });

        //плавное перемещение camera target
        if (camera.LookAtNew){
            oldCam = camera.LookAt;
            newCam = camera.LookAtNew;
            if (oldCam != newCam){
                var step = 0.52;

                xCur = oldCam.x;
                yCur = oldCam.y;
                zCur = oldCam.z;

                xNew = newCam.x;
                yNew = newCam.y;
                zNew = newCam.z;

                if((xCur < xNew + step) && ((xNew - xCur) > 0)){
                    camera.lookAt(new THREE.Vector3(xCur += step, yCur, zCur));
                    oldCam.x = xCur += step;
                }

                if((yCur < yNew + step) && ((yNew - yCur) > 0)){
                    camera.lookAt(new THREE.Vector3(xCur, yCur += step, zCur));
                    oldCam.y = yCur += step;
                }

                if((zCur < zNew + step) && ((zNew - zCur) > 0)){
                    camera.lookAt(new THREE.Vector3(xCur, yCur, zCur += step));
                    oldCam.z = zCur += step;
                }


                if((xCur > xNew + step) && ((xNew - xCur) < 0)){
                    camera.lookAt(new THREE.Vector3(xCur -= step, yCur, zCur));
                    oldCam.x = xCur -= step;
                }

                if((yCur > yNew + step) && ((yNew - yCur) < 0)){
                    camera.lookAt(new THREE.Vector3(xCur, yCur -= step, zCur));
                    oldCam.y = yCur -= step;
                }

                if((zCur > zNew + step) && ((zNew - zCur) < 0)){
                    camera.lookAt(new THREE.Vector3(xCur, yCur, zCur -= step));
                    oldCam.z = zCur -= step
                }    
            }
        }

        //плавное перемещение target position
        if (controls.TarNew){
            oldCam = controls.TarOld;
            newCam = controls.TarNew;
            if (oldCam != newCam){
                var step = 0.52;

                xCur = oldCam.x;
                yCur = oldCam.y;
                zCur = oldCam.z;

                xNew = newCam.x;
                yNew = newCam.y;
                zNew = newCam.z;

                if((xCur < xNew + step) && ((xNew - xCur) > 0)){
                    controls.target.copy(new THREE.Vector3(xCur += step, yCur, zCur));
                    oldCam.x = xCur += step;
                }

                if((yCur < yNew + step) && ((yNew - yCur) > 0)){
                    controls.target.copy(new THREE.Vector3(xCur, yCur += step, zCur));
                    oldCam.y = yCur += step;
                }

                if((zCur < zNew + step) && ((zNew - zCur) > 0)){
                    controls.target.copy(new THREE.Vector3(xCur, yCur, zCur += step));
                    oldCam.z = zCur += step;
                }


                if((xCur > xNew + step) && ((xNew - xCur) < 0)){
                    controls.target.copy(new THREE.Vector3(xCur -= step, yCur, zCur));
                    oldCam.x = xCur -= step;
                }

                if((yCur > yNew + step) && ((yNew - yCur) < 0)){
                    controls.target.copy(new THREE.Vector3(xCur, yCur -= step, zCur));
                    oldCam.y = yCur -= step;
                }

                if((zCur > zNew + step) && ((zNew - zCur) < 0)){
                    controls.target.copy(new THREE.Vector3(xCur, yCur, zCur -= step));
                    oldCam.z = zCur -= step
                }    
            }
        }
    }

    //подымаем circle
    function upCircle(node, text, circle, unique){
        if(node.children){
            for (var i = 0; i < node.children.length; i++ ){
                if (node.children[i].name.indexOf(text) != -1) {
                    getWallHeight(colladaObjects['landscape'][0], unique, circle);
                }
                upCircle(node.children[i], text, circle, unique);
            }
        }
    }

    function getWallHeight(node, unique, circle){
        if(node.children){
            for (var i = 0; i < node.children.length; i++){
                if(node.children[i].name.indexOf('floor') != -1){
                    if (getFloorOfUnique(node.children[i], unique)){
                        object = node.children[i];
                        xMin = object.BoxMin.x;
                        yMin = object.BoxMin.y;
                        zMin = object.BoxMin.z;

                        xMax = object.BoxMax.x;
                        yMax = object.BoxMax.y;
                        zMax = object.BoxMax.z;

                        zStep = Math.abs((zMax - zMin)/2);
                        if (Math.abs(circle.position.z) < zStep){
                            circle.position.z -= zStep;
                        }
                    }
                }
                getWallHeight(node.children[i], unique, circle);
            }
        }
    }

    function getFloorOfUnique(floor, unique){
        xMin = floor.BoxMin.x;
        yMin = floor.BoxMin.y;
        zMin = floor.BoxMin.z;

        xMax = floor.BoxMax.x;
        yMax = floor.BoxMax.y;
        zMax = floor.BoxMax.z;

        x = unique.position.x;
        y = unique.position.y;
        z = unique.position.z;

        if (inInterval(x, xMin, xMax) && inInterval(y, yMin, yMax) && inInterval(z, zMin, zMax)){
            return true;
        }
    }


    function inInterval(i, imin, imax){
        if (i >= imin && i <= imax){
            return true;
        } else {
            return false;
        }
    }



    function update(){
    }

    function animate(){
        requestAnimationFrame(animate);
        render();
        update();
        stats.update();     
        renderer.render(scene, camera);
    }

    init();
    animate();


    $(window).resize(function(){
        SCREEN_WIDTH = window.innerWidth;
        SCREEN_HEIGHT = window.innerHeight;
        camera.aspect = SCREEN_WIDTH / SCREEN_HEIGHT;
        camera.updateProjectionMatrix();
        renderer.setSize( SCREEN_WIDTH, SCREEN_HEIGHT );
    });

	</script>
    <script src="{% static 'js/foundation.js' %}"></script>
    <script src="{% static 'js/vendor/what-input.min.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.slider.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.tabs.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.util.keyboard.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.util.timerAndImageLoader.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.drilldown.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.util.motion.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.util.nest.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.util.mediaQuery.js' %}"></script>
    <script src="{% static 'js/vendor/foundation.accordionMenu.js' %}"></script>
    <script>
        $(document).foundation();
        $('.is-drilldown').css('max-height', '300px');
    </script>
    {% else %}
        <div class="row">
            <h1>Информация скрыта. Необходима <a href="/login/"> авторизация.</a></h1>
        </div>
    {% endif %}
	</body>
</html>