<!DOCTYPE HTML>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Our WebGl</title>
		{% load staticfiles %}

		<script type="text/javascript" src="{% static 'js/vendor/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/three.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/dat.gui.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/OrbitControls.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/stats.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/helvetiker_regular.typeface.js' %}"></script>
		<script type="text/javascript" src="{% static 'js/ColladaLoader.js' %}"></script>


  		<link rel="stylesheet" href="{% static 'css/foundation.css' %}">
    	<link rel="stylesheet" href="{% static 'css/foundation-icons/foundation-icons.css' %}">
    	<link rel="stylesheet" href="{% static 'css/app.css' %}">
  		<script src="{% static 'js/vendor/modernizr.js' %}"></script>


		<style>
			body{
				margin:0;
				overflow:hidden;
				
			}
		</style>
	</head>
	<body>
		{% csrf_token %}
		<!-- ***блок 3д изображения*** -->
		<!--************************-->
		<div id ="webGL-container"></div>
		<!-- **********шейдеры ******-->
		<!--************************-->
		<script type="x-shader/x-vertex" id="vertexShader">

			varying vec3 vWorldPosition;
			void main() {

				vec4 worldPosition = modelMatrix * vec4( position, 1.0 );
				vWorldPosition = worldPosition.xyz;

				gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
			}
		</script>

		<script type="x-shader/x-fragment" id="fragmentShader">

			uniform vec3 topColor;
			uniform vec3 bottomColor;
			uniform float offset;
			uniform float exponent;

			varying vec3 vWorldPosition;

			void main() {

				float h = normalize( vWorldPosition + offset ).y;
				gl_FragColor = vec4( mix( bottomColor, topColor, max( pow( h, exponent ), 0.0 ) ), 1.0 );

			}
		</script>
		<!--************************-->
<!--***********буфер**************-->
		<!--************************-->
	<script>
	var unique = {};
	var cubeGeom = new THREE.BoxGeometry(10, 10, 10, 2, 2, 2);
	var cubeMaterial = new THREE.MeshLambertMaterial({color: 0x0000ff, transparent: true, opacity:0.5});

	$(document).ready(function(){
		var marks;
		var unum = 0;
		var cron = 0;
		function getVal(){
			var csrf_token = $("input[name='csrfmiddlewaretoken']").val();
	        $.ajax({
	            type: 'POST',
	            url: '/getmarksvalues',
	            data: JSON.stringify(csrf_token),
              contentType: "application/json; charset=utf-8",
            	dataType: 'json',
            	async: false,
	            success: function(data, textStatus, jqXHR){
	            	if (marks){
	            		//проверка на повторение пачки
	            		function verify(){
	            			var doubled = 0;
		            		$.each(data, function(index){
		            			tag_id_new = data[index][0]['tag_id'];
		            			zone_new = data[index][0]['zone'];
		            			$.each(marks, function(index){
		            				tag_id_old = marks[index][0]['tag_id'];
		            				zone_old = marks[index][0]['zone'];
		            				if(tag_id_old == tag_id_new && zone_old == zone_new){
		            					doubled = 1;
		            					return false;
		            				}
		            			});
		            		});
		            		return doubled;
	            		}
	            		var result = verify();
            			//если пачка не повторяется записываем в буфер
	            		if(result == 0){
		            		$.each(data, function(index){
		            			//первая запись в буфере
		            			if(unique[0] == undefined){
		            					unique[0] = data[index][0];
		            					unum += 1;
            					} else {
            						//проверка на уникальность id в буфере
		            				//если нет, записать в массив
	            					tag_id_new = data[index][0]['tag_id'];
	            					zone_new = data[index][0]['zone'];
	            					doubled = 0;
	            					$.each(unique, function(index){
	            						tag_id_unique = unique[index]['tag_id'];
	            						zone_unique = unique[index]['zone'];
	            						if (tag_id_new == tag_id_unique && zone_new == zone_unique){
	            							doubled = 1;
	            							return false;
	            						}
	            					});
	            					if (doubled==0){
	            						unique[unum] = data[index][0];
	            						unum += 1;
	            					}
            					}
		            		});
	            			//таймер, для отслеживания времения между посылками
	            			//переменная cron
	            			function timer(clear){
	            				var milisec = 0;
	            				timer = setInterval(function(){
	            					milisec += 10;
	            					cron = milisec;
	            					if (clear){
	            						milisec += 0;
	            					}
	            				}, 10);
	            			}
										timer(1);
										//запись в буфер позиций метки
										//в том числе повторяющихся
										//меток с разными позициями
										$.each(data, function(index){
											tag_id_new = data[index][0]['tag_id'];
											var ind = index;
											$.each(unique, function(index){
												tag_id_unique = unique[index]['tag_id'];
												if (tag_id_new == tag_id_unique){
													//при совпадении задаем список
													//записываем все повторяющиеся значения 
													unique[index]['data'] = [];
													uind = index;
													no=0;
													$.each(data, function(index){
														if (unique[uind]['tag_id'] == data[index][0]['tag_id']){
															unique[uind]['data'][no] = data[index][0];
															//количество милисекунд на отображение
															unique[uind]['delta'] = cron / no;
															no+=1;	
														}
													});
													return false;
												}
											});
										});
										//передача буфера в рендер
										console.log(cron);
	            		}
	            		marks = data;//не удалять

	            	} else {
		            	marks = data;
	            	}
	            },
	        });
        }

        setInterval(getVal, 2000);
	});
	//************************
	//************************
	//сцена, фон, сетка, камера
	//инициализация
	//************************
	//************************

	//массив меток
	var cube = {};


	function init(){

    /*сцена, камера */
    scene = new THREE.Scene();
    camera =  new THREE.PerspectiveCamera(85, window.innerWidth/window.innerHeight, .1, 1000);
    renderer = new THREE.WebGLRenderer({antialias:true});
    
    /*рендерер;*/
    renderer.setSize(window.innerWidth, window.innerHeight);
    renderer.shadowMapEnabled= true;
    renderer.shadowMapSoft = true;
    
    /*оси*/
    axis = new THREE.AxisHelper(30);
    scene.add(axis);

    /* сетка */
    grid = new THREE.GridHelper(100, 25);
    color = new THREE.Color("rgb(255, 0, 0)");
    grid.setColors(color, 0x000000);
    grid.rotation.x = -0.5* Math.PI
    scene.add(grid);
    
    //шейдер неба
    var vertexShader = document.getElementById( 'vertexShader' ).textContent;
    var fragmentShader = document.getElementById( 'fragmentShader' ).textContent;
    var uniforms = {
        topColor:      { type: "c", value: new THREE.Color(0x000000) },
        bottomColor: { type: "c", value: new THREE.Color( 0x262626 ) },
        offset:         { type: "f", value: 100 },
        exponent:     { type: "f", value: 0.7 }
    }

    //сфера неба
    var skyGeo = new THREE.SphereGeometry( 300, 32, 15 );
    var skyMat = new THREE.ShaderMaterial( { vertexShader: vertexShader, fragmentShader: fragmentShader, uniforms: uniforms, side: THREE.BackSide } );

    var sky = new THREE.Mesh( skyGeo, skyMat );
    scene.add( sky );

    /*свет*/
    spotLight = new THREE.SpotLight(0xffffff);
    spotLight.castShadow = true;
    spotLight.position.set (20, 35, 40);
    scene.add(spotLight);

		/* позиция камеры по умолчанию */
    camera.position.set(0, -20, 0);
    /* вверх - это Z*/
    camera.up.set( 0, 0, 1 );
    scene.add(camera);

    /*камера. контроль за сменой позиции*/
    controls = new THREE.OrbitControls( camera, renderer.domElement );
    controls.addEventListener( 'change', render );
    hemi = new THREE.HemisphereLight(0xbbbbbb, 0x0099FF);
    scene.add(hemi);

    $("#webGL-container").append(renderer.domElement);

    /*статистика*/
    stats = new Stats();        
    stats.domElement.style.position = 'absolute';
    stats.domElement.style.left = '0px';
    stats.domElement.style.top = '0px';     
    $("#webGL-container").append( stats.domElement );       
	  }

    function render(){
    	if (unique){
				//проверка наличия элемента на сцене
				$.each(unique, function(index){
					ind = index;
					if (unique[index]['mesh']==undefined){
						//добавление элемента на сцену
						unique[index]['mesh'] = new THREE.Mesh(cubeGeom, cubeMaterial);
						unique[index]['mesh'].position.set(0,0,0);
						scene.add(unique[index]['mesh']);
					} else {
						//прохождение позиций координат
						$.each(unique[ind]['data'], function(index){
							x = unique[ind]['data'][index]['x'];
							y = unique[ind]['data'][index]['y'];
							z = unique[ind]['data'][index]['z'];
							/*unique[ind]['mesh'].position.set(1,1,)*/
						});
					}
				});

    		/*var cube = new THREE.Mesh(cubeGeom, cubeMaterial);
				cube.position.set(0,0,0);*/
    	}
    }

    function update(){
    }

    function animate(){
        requestAnimationFrame(animate);
        render();
        update();
        stats.update();     
        renderer.render(scene, camera);
    }

    init();
    animate();


    $(window).resize(function(){
        SCREEN_WIDTH = window.innerWidth;
        SCREEN_HEIGHT = window.innerHeight;
        camera.aspect = SCREEN_WIDTH / SCREEN_HEIGHT;
        camera.updateProjectionMatrix();
        renderer.setSize( SCREEN_WIDTH, SCREEN_HEIGHT );
    });
	</script>
	<script src="{% static 'js/foundation/foundation.js' %}"></script>
  	<script src="{% static 'js/foundation/foundation-datepicker.js' %}"></script>
	</body>
</html>