body{
	margin:0;
	min-width: 100%;
	min-height: 100%;
}

.instrument_block{
	position:fixed;
	top:0;
	right:0;
	height: 100%;
	overflow:auto;
	background-color:#fff;
	-webkit-transition: right 1s;
	transition: right 1s;
}

li.tabs-title{
	display:block;
	width:50%;
}

li.tabs-title a{
	text-align: center;
}

.tabs-title > a{
	font-size:100%;
}

.show_hide_button{
	font-size:100%;
	position:fixed;
	top:0;
	right:0;
	background-color:rgba(33, 153, 232, 0.3);
}

.is-drilldown{
	overflow-y:auto;
	height:50%;
}

.button_style{
	width:100%;
}