body{
	margin:0;
	min-width: 100%;
	min-height: 100%;
}

.instrument_block{
	position:fixed;
	top:0;
	right:0;
	height: 100%;
	overflow-y:visible;
	background-color:#fff;
	-webkit-transition: right 1s;
	transition: right 1s;
}

li.tabs-title{
	display:block;
	width:50%;
}

li.tabs-title a{
	text-align: center;
}

.tabs-title > a{
	font-size:100%;
}

.show_hide_button{
	font-size:100%;
	position:fixed;
	top:0;
	right:0;
	background-color:rgba(33, 153, 232, 0.3);
}

.is-drilldown{
	overflow-y:auto;
	height:50%;
}

.button_style{
	width:100%;
}

.popup{
	max-height:600px;
	overflow-y:scroll;
	background-color:#fff;
	bottom:0;
	left:0;
	position:fixed;
}

#mobile-control-panel{
	position:fixed;
	/* background-color: #fff; */
	height: 400px;
	bottom:0;
	left:33%;
}
#up, #down, #left, #right{
	background-color:rgba(33, 153, 232, 0.3);
}

#up{
	position:relative;
	display:block;
	height:150px;
	margin-bottom:5px;
}
#down{
	position:relative;
	display:block;
	height:150px;
	margin-bottom:5px;
}
#left{
	position:relative;
	display:block;
	height: 100px;
	margin-bottom:5px;
}

#right{
	position:relative;
	display:block;
	height: 100px;
	margin-bottom:5px;
}

@media screen and (max-height: 901px){
	#mobile-control-panel{
		height: 115px;
	}
	#up, #down{
		line-height: 0;
		height: 30px;
	}
	#left, #right{
		line-height: 0;
		height: 30px;
	}
}

.income_zone_button{
	position:fixed;
	right:0;
	top:57px;
	background-color:rgba(236, 88, 64, 0.3);
}

.incomezone_panel{
	position:fixed;
	top:0;
	right:0;
	height: 100%;
	overflow:auto;
	background-color:#fff;
	-webkit-transition: right 1s;
	transition: right 1s;
}

#zonetable{
	max-height: 400px;
	overflow-y:scroll;
}

.exclude_zone_button{
	position:fixed;
	right: 0;
	top: 113px;
}
.excludezone_panel{
	position:fixed;
	top:0;
	right:0;
	height: 100%;
	overflow:auto;
	background-color:#fff;
	-webkit-transition: right 1s;
	transition: right 1s;	
}

.show_hide_static_button{
	font-size:100%;
	position:fixed;
	top:56px;
	right:0;
	background-color:rgba(33, 153, 232, 0.3);
}

.static_instrument_block{
	position:fixed;
	top:0;
	right:0;
	height: 100%;
	overflow:visible;
	background-color:#fff;
	-webkit-transition: right 1s;
	transition: right 1s;
}

#excludezonetable{
	max-height: 400px;
	overflow-y:scroll;
}

.user_zone_button{
	position:fixed;
	right: 0;
	top: 169px;
}


.userzone_panel{
	position:fixed;
	top:0;
	right:0;
	height: 100%;
	overflow-y:scroll;
	background-color:#fff;
	-webkit-transition: right 1s;
	transition: right 1s;
}

#userzonetable{
	max-height: 200px;
	overflow-y:scroll;
	padding-left:0;
	padding-right:0;
}

#uzonegrouptable{
	min-height: 200px;
	overflow-y:scroll;
	padding-left:0;
	padding-right: 0;
}

#tagtable{
	width:100%;
	max-height: 600px;
	overflow-y: scroll;
}

.show_hide_session_button{
	font-size:100%;
	position:fixed;
	top:56px;
	right:0;
	background-color:rgba(33, 153, 232, 0.3);
}

.session_block{
	position:fixed;
	top:0;
	right:0;
	height: 100%;
	overflow:visible;
	background-color:#fff;
	-webkit-transition: right 1s;
	transition: right 1s;
}

.add_object_button{
	position:fixed;
	right: 0;
	top: 225px;
}

.add_object_block{
	position:fixed;
	top:0;
	right:0;
	height: 100%;
	overflow-y:visible;
	background-color:#fff;
	-webkit-transition: right 1s;
	transition: right 1s;
}

#objecttable{
	max-height: 250px;
	overflow-y:scroll;
	padding-left:0;
	padding-right: 0;
}

#objectwindow{
	position:fixed;
	display:block;
	min-height: 100px;
	width: 300px;
	display:none;
	background-color:#fff;
}

#diagram{
	min-width:310px;
	height: 600px;
	max-width: 800px;
	margin:0 auto;
}